# Database
psycopg[binary,pool]>=3.2.3
sqlalchemy>=2.0.23
alembic>=1.12.1

# FastAPI
fastapi>=0.105.0
pydantic>=2.10.1
pydantic-settings>=2.1.0
starlette>=0.40.0
uvicorn>=0.32.0

# Auth
PyJWT>=2.9.0
cryptography>=43.0.1
passlib[bcrypt]>=1.7.4

# Testing
pytest~=8.3.3

# Utils
python-dotenv==1.0.1
psutil~=6.1.0
requests~=2.32.3
python-multipart>=0.0.6